VITE_API_BASE_URL=/api/vv1
# URL pública del frontend que debe usar el backend al generar enlaces en emails
# Ejemplo: https://app.midominio.com  o http://192.168.1.50:5173 (LAN)
FRONTEND_URL=http://localhost:5173
